<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link active" href="/dashboard/apuracoes">Apurações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">PGLS-UTFPR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/resultados">Resultados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/apuracoes">Apurações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/admin">Painel do Adminstrador</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/busca_inserir">Buscar/Anexar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/logout">Desconectar</a>
    </li>
  </ul>
</nav>

<h5 class="text-center mb-3" style="margin-top: 20px"> Inserir Apurações</h5>
<div class="row">
  <% include ./partials/messages %>
  <!-- Apurações -->
  <form action="/dashboard/apuracoes" method="POST">
    <div class="col-lg" style="margin-top: 20px">
      <label for="indicadores"> Selecione o Indicador</label>
      <select name="indicadores" id="indicadores" class="custom-select">
        <% for (var i = 0; i < indicador.length ;i++ ) {%>
        <option value="<%= indicador[i].nome %>"> <%= indicador[i].nome %></option>
        <% } %>
      </select>
      <label for="meta"> Selecione a Meta</label>
      <select name="meta" id="meta" class="custom-select">
        <option value=""> Aguardando seleção de Indicador...</option>
      </select>
      <label for="acao"> Selecione a Ação</label>
      <select name="acao" id="acao" class="custom-select">
        <option value="""> Aguardando seleção de Meta...</option>

      </select>
      <br>
      <br>
      <div class=" form-group">
          <label for="data_apuracao" class="fas fa-thumbtack">Data de apuração</label>
          <input type="date" id="data_apuracao" name="data_apuracao" class="form-control"
            value="<%= typeof date != 'undefined' ? date : '' %>" />
    </div>
    <div class="form-group">
      <label for="qtde_peso_consumo" class="fas fa-thumbtack">Quantidade/Peso/Consumo</label>
      <input type="number" id="qtde_peso_consumo" name="qtde_peso_consumo" class="form-control"
        placeholder="Quantidade/Peso/Consumo" value="<%= typeof number != 'undefined' ? number : '' %>" />
    </div>
    <label for="nomeFuncionario" class="fas fa-user">Nome do Funcionário </label>
    <input type="name" id="nomeFuncionario" name="nomeFuncionario" class="form-control"
      placeholder="Nome do Funcionario" value="<%= name %>" />
    <br>
</div>
<button type="submit" class="btn btn-primary btn-block"> Inserir Apuração</button>
<br><br>
</div>
</form>
</div>

<script>
  document.getElementById("indicadores").addEventListener('change', (event) => {
    $("#meta").find("option").remove();
    let indicador_atual = event.target.value;
    console.log(indicador_atual);
    var len = parseInt("<%= JSON.stringify(metas.length) %>");
    console.log(len);

    var allMetas = { indicadores: [], meta: [], data_apuracao_final: [] };
    "<% for (var i =0; i < metas.length ; i++ )  { %>"
    allMetas.indicadores.push("<%= metas[i].indicadores %>"),
      allMetas.meta.push("<%= metas[i].meta %>"),
      allMetas.data_apuracao_final.push("<%= metas[i].data_apuracao_final %>")
    "<% } %> "
    console.log(allMetas);


    var options = [];
    for (var i = 0; i < len; i++) {
      if (allMetas.indicadores[i] == indicador_atual) {
        console.log(allMetas.meta[i]);
        options.push(allMetas.meta[i]);
      }
    }
    for (var i = 0; i < options.length; i++) {
      // $("#metas1").find("option").remove();
      $("#meta").append(`<option value="${options[i]}">${options[i]}</option>`);
    }
  });

  document.getElementById("meta").addEventListener('change', (event) => {
    $("#acao").find("option").remove();
    let meta_atual = event.target.value;
    console.log(meta_atual);
    var len = parseInt("<%= JSON.stringify(acao.length) %>");
    console.log(len);

    var allAcao = { acao: [], nomeFuncionario: [], metas: [] };

    "<% for (var i =0; i < acao.length ; i++ )  { %>"
    allAcao.acao.push("<%=acao[i].acao%>"),
      allAcao.nomeFuncionario.push("<%= acao[i].nomeFuncionario %>"),
      allAcao.acao.push("<%= acao[i].acao %>")
      allAcao.metas.push("<%= acao[i].metas %>");
    "<% } %> "
    console.log(allAcao);
    var options = [];
    for (var i = 0; i < len; i++) {
      if (allAcao.metas[i] == meta_atual) {
        console.log(allAcao.acao[i]);
        options.push(allAcao.acao[i]);
      }
    }
    // console.log(options);
    for (var i = 0; i < options.length; i++) {
      // $("#metas1").find("option").remove();
      $("#acao").append(`<option value="${options[i]}">${options[i]}</option>`);
    }
  });


</script>