<!-- <h1 class="mt-4">PGLS - UTFPR</h1>
<p class="lead mb-3">Bem vindo, <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a> -->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/dashboard">PGLS-UTFPR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/resultados">Resultados</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/apuracoes">Apurações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/admin">Painel do Adminstrador</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/busca_inserir">Buscar/Anexar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/logout">Desconectar</a>
    </li>
  </ul>
</nav><br>
<% include ./partials/messages %>
<p class="lead mb-3" style="text-align: center">Bem vindo, <%= name %></p>
<p class="lead mb-3" style="text-align: center">Acompanhe os resultados já obtidos abaixo:</p>
<hr>

<table class="table table-striped">
  <tr>
    <th>Indicador</th>
    <th>Meta</th>
    <th>Ação</th>
    <th>Data Apuração</th>
    <th>Qtde, Peso e/ou Consumo</th>
    <th>Empresa de transporte</th>
    <th>Empresa de Destino</th>
    <th>Observações</th>
  </tr>
  <%for (var i=0;i < resultados.length ;i++) { %>
  <tr>
    <td><%= resultados[i].indicadores %></td>
    <td><%= resultados[i].meta %></td>
    <td><%= resultados[i].acao %></td>
    <td><%= resultados[i].data_apuracao %></td>
    <td><%= resultados[i].qtde_peso_consumo%></td>
    <td><%= resultados[i].empresas1 %></td>
    <td><%= resultados[i].empresas2 %></td>
    <td><%= resultados[i].obs %></td>
  </tr>
  <% } %>
</table>